target
.metadata
.classpath
.settings
bin/
pkg/
output/

# command binaries
mysql

*~
.idea/
.vscode/
**/debug
**/debug.test
**/*.pb
**/*.csv*

src/auth0/
src/github.com/
src/golang.org/
src/gopkg.in/
src/sourcegraph.com/
src/glue/converter/csv2Pb_test.go
